{% extends "master.html" %}
{% block title %}
  Crear Estudiante
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="mx-auto" style="max-width: 700px; width: 100%;">
    <div class="card shadow p-5 border-0" style="border-radius: 20px;">
      <form action="" method="post" autocomplete="off" class="custom-form">
        {% csrf_token %}
        {{ formulario.as_p }}
        <div class="text-center mt-4">
          <button type="submit" class="custom-btn w-100">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}