{% extends 'master.html' %}
{% block content %}
<div class="container my-5">
  <h3 class="mb-4" style="font-family: var(--title-font-family); color: var(--primary-color);">
    Número de Módulos <span class="badge bg-primary">{{ numero_modulos }}</span>
  </h3>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle" id="tabla_datos">
      <thead class="table-dark">
        <tr>
          <th>Nombre del módulo</th>
          <th>Valor de todas las matrículas del módulo</th>
        </tr>
      </thead>
      <tbody>
        {% for m in modulos %}
        <tr>
          <td>{{ m.nombre }}</td>
          <td>${{ m.total_ }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}